# dependencies
node_modules/

# build output
dist/
build/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# logs
*.log
npm-debug.log*

# os / editor junk
.DS_Store
.vscode/
.idea/

# env / secrets
.env
.env.*
.figma-token
